@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Güncelleme Sayfası</h1>

<form method="post">
    <label>Kategori Adı</label>
    <input type="hidden" class="form-control" asp-for="CategoryId" />
    <input type="text" class="form-control" asp-for="CategoryName" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>
