@model UpdateEventDto
@{
    ViewData["Title"] = "UpdateEvent";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Yeni Öne Çıkan Oluşturma Sayfası</h4>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="EventId" />
                        <label>Görsel</label>
                        <input type="text" class="form-control" asp-for="ImageURL" />
                        <br />
                        <label>Kategori Seçiniz</label>
                        <select asp-for="EventCategoriesId" asp-items="@ViewBag.EventCategoryList" class="form-control"></select>
                        <br />
                        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i> Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



