@model CreateProductDto
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Yeni Ürün Ekleme Sayfası</h4>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post" enctype="multipart/form-data">
                        <label>Ürün Adı</label>
                        <input type="text" class="form-control" asp-for="ProductName" />
                        <br />
                        <label>Resim</label>
                        <input type="file" class="form-control" asp-for="File" />
                        <br />
                        <label>Fiyat</label>
                        <input type="text" class="form-control" asp-for="Price" />
                        <br />
                        <label>Açıklama</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Kategori</label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control"></select>
                        <br />
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="IsVegetarian">
                            <label class="form-check-label">Vejetaryen</label>
                        </div>
                    
                        <br />


                        <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
