@model CreateMessageDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="p-5 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Bize Ulaşın</small>
                    <h1 class="display-5 mb-0">Sorularınız için bize ulaşın!</h1>
                </div>
             
                @await Component.InvokeAsync("_ContactComponentPartial")
                @await Component.InvokeAsync("_DefaultContactInfoComponentPartial")
            </div>
        </div>
    </div>
</div>
