<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Admin/Dashboard/Index" aria-expanded="false">
                    <i class="fa fa-dashboard"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Product/Index" aria-expanded="false">
                    <i class="fa fa-shopping-basket"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Category/Index" aria-expanded="false">
                    <i class="fa fa-cutlery"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
        </ul>
    </div>
</div>