<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Admin/Dashboard/Index" aria-expanded="false">
                    <i class="fa fa-dashboard"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Product/Index" aria-expanded="false">
                    <i class="fa fa-shopping-basket"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Category/Index" aria-expanded="false">
                    <i class="fa fa-cutlery"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Feature/Index" aria-expanded="false">
                    <i class="fa fa-backward"></i><span class="nav-text">Öne Çıkanlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/About/Index" aria-expanded="false">
                    <i class="fa fa-info"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Services/Index" aria-expanded="false">
                    <i class="fa fa-cogs"></i><span class="nav-text">Hizmetlerimiz</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Event/Index" aria-expanded="false">
                    <i class="fa fa-birthday-cake " ></i><span class="nav-text">Etkinliklerimiz</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Cheff/Index" aria-expanded="false">
                    <i class="fa fa-handshake-o"></i><span class="nav-text">Aşcılarımız</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Testimonail/Index" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="nav-text">Referanslarımız</span>
                </a>
            </li>
        </ul>
    </div>
</div>