@model CreateBookingDto
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s" id="booking">
    <div class="container">
        <div class="row g-0">
            <div class="col-1">
                <img src="~/templates/CaterServ-1.0.0/img/background-site.jpg" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
            <div class="col-10">
                <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                    <div class="text-center">
                        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Rezervasyon yapın!</small>
                        <h1 class="display-5 mb-5">Etkinlik planlayın!</h1>
                    </div>
                    <form method="post" asp-action="AddBooking" asp-controller="default">
                        <div class="row g-4 form">

                            <div class="col-lg-12 col-md-6">
                                <input type="text" class="form-control" placeholder="Ad Soyad" asp-for="NameSurname" />
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control" placeholder="İl" asp-for="Province" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control" placeholder="İlçe" asp-for="District" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control" placeholder="Mahalle" asp-for="Neighbourhood" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <select asp-items="@ViewBag.EventCategoryResult" asp-for="EventCategoriesId" class="form-select border-primary p-2" aria-label="Default select example">
                                    <option>Etkinlik Kategorisi</option>

                                </select>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control" asp-for="PersonCount" placeholder="Kaç Kişi ?" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <select class="form-select border-primary p-2" asp-for="IsVegeteratian" aria-label="Default select example">
                                    <option selected>Vejeteryan Menü</option>
                                    <option value="true">Evet, Olsun</option>
                                    <option value="false">Hayır, Olmasın</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="mobile" class="form-control border-primary p-2" asp-for="PhoneNumber" placeholder="Telefon Numaranız">
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="date" class="form-control border-primary p-2" asp-for="Date" placeholder="Tarih seçiniz">
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="email" class="form-control border-primary p-2" asp-for="Email" placeholder="E posta adresiniz">
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" onclick="AddBooking()" class="btn btn-primary px-5 py-3 rounded-pill">Rezervasyon oluştur</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-1">
                <img src="~/templates/CaterServ-1.0.0/img/background-site.jpg" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
        </div>
    </div>
</div>
