@model CreateCheffDto
@{
    ViewData["Title"] = "CreateCheff";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Hakkımızda Oluşturma Sayfası</h4>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post">
                        <label>Ad Soyad</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Ünvan</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <label>Resim</label>
                        <input type="text" class="form-control" asp-for="ImageURL" />
                        <br />

                        <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


