@model UpdateCheffDto
@{
    ViewData["Title"] = "UpdateCheff";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Hakkımızda Oluşturma Sayfası</h4>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" class="form-control" asp-for="CheffId" />
                        <label>Ad Soyad</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Ünvan</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <label>Resim</label>
                        <input type="file" class="form-control" asp-for="File" />
                        <br />

                        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i> Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



