@model CreateServiceDto
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Hizmet Ekleme Sayfası</h4>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post">
                        <label>İkon</label>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Açıklama</label>
                        <textarea type="text" rows="5" class="form-control" asp-for="Descripition" ></textarea>
                        <br />
                        <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

